<div class="row">
    <div class="col s6 offset-s3">
      <div card>

        <div class="col s6">
          <h2> Login </h2>
        </div>
        <div class="col s6">
          <img src="/assets/img/snoopy-logo.jpg" style="width:160px;height:250px;" class="offset-s3">
        </div>

        <div class="card-content">
          <form #loginForm="ngForm" (submit) = "onLogin(loginForm)">

            <div class ="row">
              <div class = "input-field col s12">
                <i class="material-icons prefic">mail_outline</i>
                <input type="text" name="email" #email= "ngModel" [(ngModel)] ="service.formData.email" [pattern] = "emailPattern" required >
                  <div *ngIf="email.invalid && email.touched" class="validation-error">
                    This field is required.
                  </div>
                <label>Email</label>
              </div>
            </div>

            <div class ="row">
              <div class = "input-field col s12">
                <i class="material-icons prefic">account_circle</i>
                <input type="text" name="password" #password="ngModel" [(ngModel)] ="service.formData.password" required>
                  <div *ngIf="password.invalid && password.touched" class="validation-error">
                    This field is required.
                  </div>
                <label>Password</label>
              </div>
            </div>

            <div class ="row">
              <div class = "input-field col s12">
                <button class="btn-large btn-submit" type="submit" [disabled]= "!loginForm.valid">
                  Start Quiz
                </button>"
              </div>
            </div>

            <!-- Calling FacebookAuth Api from AuthService -->
            <div id = "firebaseui-auth-container" class = "auth-container">

            </div>

          </form>
        </div>

      </div>
    </div>
  </div>
