<div class="row">
    <div class="col s6 offset-s3">
      <div card>

        <div class="displayTable">
          <div class="displayTableCell">
            <div class="authBlock">
              <img src="/assets/img/snoopy-logo.jpg" style="width:160px;height:250px;" class="offset-s3">
              <h3>Sign In</h3>

              <div classs = "card-content">
                <form #loginForm="ngForm" (submit) = "onLogin(loginForm)">

                  <div class="formGroup">
                    <input type="text" name="email" #email class="formControl" placeholder="Email"  [pattern] = "emailPattern" required >
                      <div *ngIf="email.invalid && email.touched" class="validation-error">
                        This field is required.
                      </div>
                  </div>

                  <div class="formGroup">
                    <input type="text" class="formControl" placeholder="Password" #password name="password" required >
                      <div *ngIf="email.invalid && email.touched" class="validation-error">
                        This field is required.
                      </div>
                  </div>

                  <!-- Calling SignIn Api from AuthService -->
                  <div class="formGroup">
                    <input type="button" class="btn btnPrimary" value="Log in" (click)="service.login(email.value, password.value)">
                  </div>

                  <!-- Continue with Facebook -->
                  <div class="formGroup">
                      <!-- Calling FacebookAuth Api from AuthService -->
                      <div id = "firebaseui-auth-container" class = "auth-container">
                      </div>
                  </div>

                </form>
              </div>

            </div>
          </div>

      </div>
    </div>
  </div>
</div>
