<!DOCTYPE html>
<html>

<div class="row">
    <div class="col s6 offset-s3">
      <div card>

        <div class="displayTable">
          <div class="displayTableCell">

            <div class="authBlock">

              <img src="/assets/img/snoopy-logo.jpg" style="width:160px;height:250px;" class="offset-s3">

              <h3>Quiz Registration</h3>

              <div classs = "card-content">
                <form #registerForm="ngForm" (submit) = "onSubmit(registerForm)">

                <div class="formGroup">
                  <i class="material-icons prefic">account_circle</i>
                  <input type="text" name="name" placeholder = "Name" #name="ngModel" [(ngModel)] ="service.formData.name" required>
                    <div *ngIf="name.invalid && name.touched" class="validation-error">
                      This field is required.
                    </div>
                </div>

                <div class="formGroup">
                  <i class="material-icons prefic">mail_outline</i>
                  <input type="text" name ="email" #email= "ngModel" [(ngModel)] ="service.formData.email" class="formControl"  placeholder="Email Address"  [pattern] = "emailPattern" required>
                  <div *ngIf="email.invalid && email.touched" class="validation-error">
                    This field is required.
                  </div>
                </div>

                <div class="formGroup">
                  <i class="material-icons prefic">lock</i>
                  <input type="text" name = "password" class="formControl" placeholder="Password" #password="ngModel" [(ngModel)] ="service.formData.password" required>
                  <div *ngIf="password.invalid && password.touched" class="validation-error">
                    This field is required.
                  </div>
                </div>

                <div class="formGroup">
                  <button class="btn-large btn-submit" type="submit" [disabled]= "!registerForm.valid" value="Sign Up" (click)="service.register(email.value, password.value)">
                  Register
                  </button>
                </div>

                <!-- Continue with Facebook -->
                <div class="formGroup">
                    <!-- Calling FacebookAuth Api from AuthService -->
                    <div id = "firebaseui-auth-container" class = "auth-container">
                    </div>
                </div>

                </form>
              </div>
            </div>

            <div class="redirectToLogin">
              <span>Already have an account? <span class="redirect" routerLink="/login">Sign In Here</span></span>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</html>
